In [1]:
import pandas as pd

In [11]:
data = pd.read_csv("/Users/talhajamal/Desktop/Code/Portfolio_Optimizer_CPP/data/asset_returns_small.csv",
                   header=None, 
                   names=["Asset 1", "Asset 2", "Asset 3", "Asset 4", "Asset 5"], 
                   index_col=False)

In [12]:
data

    Asset 1   Asset 2   Asset 3   Asset 4   Asset 5
0 -0.005763 -0.026772 -0.087660  0.026042 -0.003650
1  0.058059  0.113269  0.175373  0.096116  0.076657
2 -0.037039  0.035610 -0.026984 -0.077318 -0.144086
3  0.055546 -0.002807  0.093801  0.044626  0.089131
4  0.037787  0.035890  0.021626  0.163150  0.064524
5 -0.027950  0.001359 -0.032117  0.000000  0.011108
6 -0.030104  0.033921 -0.096531 -0.082795 -0.038002
7 -0.038620 -0.002625  0.012521 -0.055120 -0.072861
8  0.015789 -0.039474  0.003298 -0.023832 -0.053040
9 -0.046614 -0.045890 -0.064092 -0.084280 -0.121014

In [13]:
covMatrix = data.cov()

In [14]:
covMatrix

          Asset 1   Asset 2   Asset 3   Asset 4   Asset 5
Asset 1  0.001651  0.000818  0.002675  0.002792  0.002810
Asset 2  0.000818  0.002209  0.002359  0.001694  0.001582
Asset 3  0.002675  0.002359  0.007007  0.004111  0.004153
Asset 4  0.002792  0.001694  0.004111  0.006896  0.005741
Asset 5  0.002810  0.001582  0.004153  0.005741  0.006604